<section class="section">
  <div class="container">
    <label>
      Search for repository:
      <input class="input" type="text" name="search" #githubSearch>
    </label>
    <div class="columns">
      <div class="column is-half"><label>
        Filter by name:
        <input class="input" type="text" name="filter" #nameFilter>
      </label>
      </div>
      <div class="column is-half"><label>
        Filter by last commit:
        <input class="input" type="date" name="filter" value="2018-07-22" #dateFilter>
      </label>
      </div>
    </div>
    <hr>

    <progress class="progress is-small is-primary" max="100" *ngIf="isLoading$ | async"></progress>

    <ng-container *ngIf="repositories$ | async as repositories">
      <app-github-repository *ngFor="let repository of repositories" [repository]="repository"></app-github-repository>

    </ng-container>
  </div>
</section>
